{% extends 'Login/base.html' %}

{% block title %}Email Sent{% endblock %}
{% block link %}{% url 'login' %} {% endblock %}
{% block content %}
    <div align="center" class="container">


        <h1>Check your inbox.</h1>
        <div class="alert alert-success">
            <p>We've emailed you instructions for setting your password. You should receive the email shortly.<strong> If you didn't received an email please enter the registered email address.</strong></p>
        </div>


    </div>
{% endblock %}